<div class="container mt-4">
    <%= @invoice[:company_name] %>
    <br>
    <%= @invoice[:company_cnpj] %>
    <br>
    <%= @invoice[:address] %>
    <br>
    <%= @invoice[:address2] %>
    <br>
    <%= @invoice[:company_city] %>
    <br>
    <%= @invoice[:company_state] %>
    <br>
    <%= @invoice[:postal_code] %>
    <br>
    <%= @invoice[:nire] %>
    <br>
    <%= @invoice[:invoice_number] %>
    <br>
    <%= @invoice[:invoice_date] %>
    <br>
    <%= @invoice[:buyer_name] %>
    <br>
    <%= @invoice[:buyer_registry] %>
    <br>
    <%= @invoice[:buyer_address] %>
    <br>
    <%= @invoice[:service_description] %>
    <br>
    <%= @invoice[:service_value] %>
</div>