<%# <div class="w-75 text-center" style="margin: 0 auto; "> %>
<div class="my-container text-center">

  <h2 class="font-weight-bold" style="margin-top: 5em;">DOCUMENTO FISCAL SIMPLIFICADO DE SERVIÇOS DE MICROEMPREENDEDOR INDIVIDUAL – MEI</h2>
  <h3 style="margin-top: 4em;">Extraído em <%= 3 - 1 %> vias</h3>


  <br>

  <h2 class="font-weight-bold"> <%= @invoice["company_name"].upcase %> </h2>

  <br>

  <h2><%= "#{@invoice['address'].upcase}, #{@invoice['address2'].upcase}, #{@invoice['company_city'].upcase}, #{@invoice['company_state'].upcase}" %> <%= @invoice["postal_code"] %> </h2>

  <br>

  <h2>CNPJ: <%= @invoice["company_cnpj"] %> NIRE: <%= @invoice["nire"] %></h2>

  <br>

  <h2>DATA DE EMISSÃO: <%= @invoice["invoice_date"] %>   Nº<%= @invoice["invoice_number"] %></h2>

  <br>

  <h2>1ª VIA TOMADOR DE SERVIÇO</h2>

  <br>

  <h2 class="font-weight-bold">TOMADOR DO(S) SERVIÇO(S)</h2>

</div>

<!-- --------------------------------------------------------------------------------- -->
  <br>
  <br>
  <br>

<div class="my-container">

  <h3>Nome: <%= @invoice["buyer_name"] %></h3>

  <br>


  <h3>Endereço: <%= "#{@invoice['buyer_address']}, #{@invoice['buyer_address2']}, #{@invoice['buyer_city']}, #{@invoice['buyer_state']}" %>, <%= @invoice["buyer_postal_code"] %> </h3>

  <br>

  <h3>CNPJ/CPF: <%= @invoice["buyer_registry"] %></h3>

  <br>
<!-- --------------------------------------------------------------------------------- -->

    <div style="margin-top: 16px; border-top: 2px solid black; border-bottom: 2px solid black;">
    
      <div class="row d-flex justify-content-around my-2">
        <h4 class="font-weight-bold m-0 col-sm-9 text-center">Discriminação dos serviços</h4>
        <h4 class="font-weight-bold m-0 col-sm-3 text-center">Valor</h4>
      </div>
    </div>



  <ul>
  <% @invoice['service_description'].each_with_index do |service, index| %>
    <li>
      <div class="row d-flex justify-content-around my-2">
        <div class="col-sm-9">
          <h4><%= service %></h4>
        </div>
        <div class="col-sm-3 text-center">
          <h4><%= @invoice["service_value"][index] %></h4s>
        </div>
      </div>
    </li>
    <% end %>
  </ul>
</div>

<br>

<%#= link_to "Ver pdf da nota", "#{nota_path}.pdf", class: "btn btn-primary" %>




