

<% @endereco_prestador = "#{@invoice['address']}, #{@invoice['address2']}, #{@invoice['company_city']}, #{@invoice['company_state']}" %>

<% @cep_cliente = "99.999-999" %>
<% @placeholder_descr_servico2 = "AQUI É PRA COLOCAR OUTRO SERVIÇO E DESCREVER COMO FOI FEITO,
COM ALGUM NÍVEL DE DETALHES E POR ISSO ESTOU TESTANDO A QUANTIDADE DE CARACTERES" %>
<% @valor_servico2 = "R$ 20000,00" %>



<%# <div class="w-75 text-center" style="margin: 0 auto; "> %>
<div class="container text-center">

  <h2 class="font-weight-bold" style="margin-top: 5em;">DOCUMENTO FISCAL SIMPLIFICADO DE SERVIÇOS DE MICROEMPREENDEDOR INDIVIDUAL – MEI</h2>
  <h3 style="margin-top: 4em;">Extraído em <%= 3 - 1 %> vias</h3>


  <br>

  <h2 class="font-weight-bold"> <%= @invoice["company_name"] %> </h2>

  <br>

  <h2><%= "#{@invoice['address']}, #{@invoice['address2']}, #{@invoice['company_city']}, #{@invoice['company_state']}" %> <%= @invoice["postal_code"] %> </h2>

  <br>

  <h2>CNPJ: <%= @invoice["company_cnpj"] %> NIRE: <%= @invoice["nire"] %></h2>

  <br>

  <h2>DATA DE EMISSÃO: <%= @invoice["invoice_date"] %>   Nº<%= @invoice["invoice_number"] %></h2>

  <br>

  <h2>1ª VIA TOMADOR DE SERVIÇO</h2>

  <br>

  <h2 class="font-weight-bold">TOMADOR DO(S) SERVIÇO(S)</h2>

</div>

<!-- --------------------------------------------------------------------------------- -->
  <br>
  <br>
  <br>

<div class="container">

  <h3>Nome: <%= @invoice["buyer_name"] %></h3>

  <br>


  <h3>Endereço: <%= @invoice["buyer_address"] %>, <%= @cep_cliente %> </h3>

  <br>

  <h3>CNPJ/CPF: <%= @invoice["buyer_registry"] %></h3>

  <br>
<!-- --------------------------------------------------------------------------------- -->

    <div style="margin-top: 16px; border-top: 2px solid black; border-bottom: 2px solid black;">
    
      <div class="row d-flex justify-content-around my-2">
        <h4 class="font-weight-bold m-0 col-sm-9 text-center">Discriminação dos serviços</h4>
        <h4 class="font-weight-bold m-0 col-sm-3 text-center">Valor</h4>
      </div>
    </div>



  <ul>
    <li>
      <div class="row d-flex justify-content-around my-2">
        <div class="col-sm-9">
          <p><%= @invoice["service_description"] %></p>
        </div>
        <div class="col-sm-3 text-center">
          <p><%= @invoice["service_value"] %></p>
        </div>
      </div>
    </li>
    <li>
      <div class="row d-flex justify-content-around my-2">
        <div class="col-sm-9">
          <p><%= @placeholder_descr_servico2 %></p>
        </div>
        <div class="col-sm-3 text-center">
          <p><%= @valor_servico2 %></p>
        </div>
      </div>
    </li>
  </ul>
</div>

<br>

<%#= link_to "Ver pdf da nota", "#{nota_path}.pdf", class: "btn btn-primary" %>




