
<% @cpf = "999.999.999-99" %>
<% @nome_do_usuario = "NOME COMPLETO DO USUÁRIO" %>
<% @endereco_prestador = "ENDEREÇO COMPLETO DO PRESTADOR DE SERVIÇO" %>
<% @cep_prestador = "99.999-99" %>
<% @cnpj_prestador = "99.999.999/0001-99" %>
<% @nire_prestador = "99-9-99999999-9" %>
<% @data_emissao = "99/99/9999" %>
<% @empresa_cliente = "EMPRESA CLIENTE LTDA" %>
<% @endereco_cliente = "ONDE FICA A EMPRESA DO CLIENTE" %>
<% @cep_cliente = "99.999-999" %>
<% @cnpj_cpf_cliente = "99.999.999/0001-99" %>
<% @placeholder_descr_servico1 = "AQUI É PRA COLOCAR O SERVIÇO DESCRITO E COMO FOI FEITO,
COM UM CERTO NÍVEL DE DETALHES E POR ISSO ESTOU TESTANDO A QUANTIDADE DE CARACTERES" %>
<% @valor_servico1 = "R$ 10000,00" %>
<% @placeholder_descr_servico2 = "AQUI É PRA COLOCAR OUTRO SERVIÇO E DESCREVER COMO FOI FEITO,
COM ALGUM NÍVEL DE DETALHES E POR ISSO ESTOU TESTANDO A QUANTIDADE DE CARACTERES" %>
<% @valor_servico2 = "R$ 20000,00" %>



<div class="w-75 text-center w-75" style="margin: 0 auto; ">

  <h1 class="font-weight-bold" style="margin-top: 200px;">DOCUMENTO FISCAL SIMPLIFICADO DE SERVIÇOS DE MICROEMPREENDEDOR INDIVIDUAL – MEI</h1>
  <h2 style="margin-top: 150px;">Extraído em <%= 3 - 1 %> vias</h2>

  <br>
  <br>

  <h1 class="font-weight-bold"> <%= @nome_do_usuario %> <%= @cpf %> </h1>

  <br>

  <h1><%= @endereco_prestador %> <%= @cep_prestador %> </h1>

  <br>

  <h1>CNPJ: <%= @cnpj_prestador %> NIRE: <%= @nire_prestador %></h1>

  <br>

  <h1>DATA DE EMISSÃO: <%= @data_emissao %>   Nº9</h1>

  <br>

  <h1>1ª VIA TOMADOR DE SERVIÇO</h1>

  <br>

  <h1 class="font-weight-bold">TOMADOR DO(S) SERVIÇO(S)</h1>

</div>

<!-- --------------------------------------------------------------------------------- -->
  <br>
  <br>
  <br>

<div class="w-75 text-left w-75" style="margin: 0 auto; ">

  <h2>Nome: <%= @empresa_cliente %></h2>

  <br>
  <br>

  <h2>Endereço: <%= @endereco_cliente %>, <%= @cep_cliente %> </h2>

  <br>
  <br>

  <h2>CNPJ/CPF: <%= @cnpj_cpf_cliente %></h2>

  <br>

<!-- --------------------------------------------------------------------------------- -->

  <hr style="border: 2px solid black;">
    <div class="container d-flex justify-content-between">
      <div class="text-align "><h4 class="font-weight-bold m-0">Discriminação dos serviços</h4></div>
      <div class="text-align "><h4 class="font-weight-bold m-0">Valor</h4></div>
    </div>
  <hr style="border: 2px solid black;">


  <ul>
    <li>
      <div class="container d-flex justify-content-between">
        <div class="w-50"><%= @placeholder_descr_servico1 %></div>
        <div><%= @valor_servico1 %></div>
      </div>
    </li>
    <li>
      <div class="container d-flex justify-content-between">
        <div class="w-50"><%= @placeholder_descr_servico2 %></div>
        <div><%= @valor_servico2 %></div>
      </div>
    </li>
  </ul>
</div>


<br>
<br>
<br>
<br>
<br>



<%= link_to "Ver pdf da nota", "#{nota_path}.pdf", class: "btn btn-primary" %>




